<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1 class="page-header">
        <em>SuperRentals</em>
      </h1>
    {{/link-to}}
    {{main-navbar links=(hash about="About" contact="Contact" rentals="Rentals")}}
  </div>
  <div class="body">
    <!-- outlet indicates where the internal template is rendered
    even the other routes we added have an outlet,
    what does that do? -->
    {{outlet}}
  </div>
</div>
